// Colors
$main-color: #fbfbfb;
$secondary-color: #ffcc26;
$text-color: #414141;
$text-color-hovered: #a1a1a1;
$black-color: #000;
$white-color: #fff;
$grey-color: #aaa;

// Padding and Margins
$indent-xs: 5px;
$indent-s: 10px;
$indent-m: 20px;
$indent-l: 30px;
$indent-xl: 40px;

// FontSize
$fontsize-m: 18px;
$fontsize-l: 20px;
$fontsize-xl: 24px;

// LineHeight
$lineheight-m: 1.3;